<h1 class="text-center">Hello, there! Burgers waiting for you </h1>
<div class=" text-center">
    <img src="../assets/img/burger.jpg" class="img-fluid rounded" id="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Yummy! Yummy!</h5>
    </div>
</div>
<div class="container">
    <h1>Order Your Burger </h1>
    <form class="create-form">
        <div class="input-group mb-3" style="width: 50%;">
            <input type="text" id="newburger" name="burger" class="form-control"
                placeholder="Enter a burger you want to eat" aria-label="Example text with button addon"
                aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" type="submit" id="addburger">Submit</button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="text-center">Ordered Burger.</h3>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item list-group-item-success"> {{this.id}} - {{this.burger_name}}
                    <button type="button" class="eatburger btn btn-outline-secondary float-right" id="eatbutton"
                        data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-6">
            <h3 class="text-center">Devoured Burgers.</h3>
            <ul class="list-group list-unstyled">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item list-group-item-success"> {{this.id}} - {{this.burger_name}}
                    <button type="button" class="trashburger btn btn-outline-secondary float-right" id="trashbutton"
                        data-id="{{this.id}}" data-newDevoured="{{devour}}">Delete</button></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>